.mealdiv{
    margin:1px auto;
    text-align:center;

}
button{
    color:wheat;
    background-color:black;
    border:2px solid green; 
     border-radius: 4px;
     width: 100px;
     height: 40px;
}
.row{
    padding:30px;
    border:2px solid gray;
    border-radius: 10px;
}
.colorful{
    color:blue; 
    font-weight: 700;
    
}