.mealdiv{
    margin:1px auto;
    text-align:center;

}
button{
    color:wheat;
    background-color:black;
    border:2px solid green; 
     border-radius: 4px;
     width: 100px;
     height: 40px;
}